.user-profile,
.user-profile * {
  box-sizing: border-box;
}
.user-profile {
  background: #ffffff;
  width: 100vw;
  height: 100vh;
  padding-top: var(--navbar-height);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.frame-12 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 30%;
  position: relative;
}

.icons-account-circle-filled-24-px {
  fill: var(--material-theme-sys-light-primary);
  height: auto;
  width: auto;
  position: relative;
}

.frame-10 {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.frame-9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.username{
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 24px;
  line-height: 25px;
  font-weight: 400;
  position: relative;
  width: 100%;
  height: 100%;
}

.frame-13 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.movies-section-restricted {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

.movies-section {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 36px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  width: 537px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.movies-section2 {
  padding: 15px 20px 15px 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.movie-thumbnail {
  flex-shrink: 0;
  width: 211px;
  height: 191px;
  position: relative;
}

.thumbnail {
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 211px;
  height: 150px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.thumbnail2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  object-fit: cover;
}

.movie-or-tv-series-title-goes-here {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  right: 3.79%;
  left: 2.84%;
  width: 93.36%;
  bottom: 0%;
  top: 79.06%;
  height: 20.94%;
}

.user-info-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;

}

.user-info-list-item{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;

}

.user-info{
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}

.user-info-title{
  font-family: "Roboto-Regular", sans-serif;
  font-weight: bold;
}