.catalogue,

.catalogue * {
  box-sizing: border-box;
}

.catalogue {
  background: var(--material-theme-white, #ffffff);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  padding-top: var(--navbar-height);
  position: relative;
}

.catalogue-container {
  padding: 25px 10px 30px 10px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 120px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}