.movie-profile,
.movie-profile * {
  box-sizing: border-box;
}
.movie-profile { /* test */
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  padding-top: var(--navbar-height);
  position: relative;
  overflow: hidden;
}
.movie-profile-container {
  padding: 10px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow-y: auto;
}
.movie-header {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.title {
  color: #000000;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 48px;
  font-weight: 600;
  max-width: 70%;
  position: relative;
}
.group-1 {
  flex-shrink: 0;
  width: 57px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.rating {
  color: var(--material-theme-sys-light-primary, #af2b3e);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  position: relative;
}
.movie-header-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  position: relative;
}
.thumbnail-large {
  display: inline-block;
  flex-shrink: 0;
  min-width: 30%;
  max-width: 50%;
  min-height: 60vh;
  max-height: 80vh;
  position: relative;
  overflow: hidden;
}

.thumbnail-img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: contain;
}
.row-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: stretch;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.movie-info {
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-bold {
  color: #000000;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: relative;
}
