/* Figma Styles of your File */
:root {
  /* Dimentions */
  --navbar-height: 10vh;

  /* Colors */
  --material-theme-white: #ffffff;
  --material-theme-black: #000000;
  --material-theme-sys-light-primary: #af2b3e;
  --material-theme-sys-light-on-primary: #ffffff;
  --material-theme-sys-light-primary-container: #ffdada;
  --material-theme-sys-light-on-primary-container: #40000b;
  --material-theme-sys-light-primary-fixed: #ffdada;
  --material-theme-sys-light-on-primary-fixed: #40000b;
  --material-theme-sys-light-primary-fixed-dim: #ffb3b5;
  --material-theme-sys-light-on-primary-fixed-variant: #8e0f28;
  --material-theme-sys-light-secondary: #765657;
  --material-theme-sys-light-on-secondary: #ffffff;
  --material-theme-sys-light-secondary-container: #ffdada;
  --material-theme-sys-light-on-secondary-container: #2c1516;
  --material-theme-sys-light-secondary-fixed: #ffdada;
  --material-theme-sys-light-on-secondary-fixed: #2c1516;
  --material-theme-sys-light-secondary-fixed-dim: #e6bdbd;
  --material-theme-sys-light-on-secondary-fixed-variant: #5d3f40;
  --material-theme-sys-light-tertiary: #76592f;
  --material-theme-sys-light-on-tertiary: #ffffff;
  --material-theme-sys-light-tertiary-container: #ffddb1;
  --material-theme-sys-light-on-tertiary-container: #291800;
  --material-theme-sys-light-tertiary-fixed: #ffddb1;
  --material-theme-sys-light-on-tertiary-fixed: #291800;
  --material-theme-sys-light-tertiary-fixed-dim: #e6c18d;
  --material-theme-sys-light-on-tertiary-fixed-variant: #5c421a;
  --material-theme-sys-light-error: #ba1a1a;
  --material-theme-sys-light-on-error: #ffffff;
  --material-theme-sys-light-error-container: #ffdad6;
  --material-theme-sys-light-on-error-container: #410002;
  --material-theme-sys-light-outline: #857373;
  --material-theme-sys-light-background: #fffbff;
  --material-theme-sys-light-on-background: #201a1a;
  --material-theme-sys-light-surface: #fff8f7;
  --material-theme-sys-light-on-surface: #201a1a;
  --material-theme-sys-light-surface-variant: #f4dddd;
  --material-theme-sys-light-on-surface-variant: #524343;
  --material-theme-sys-light-inverse-surface: #362f2f;
  --material-theme-sys-light-inverse-on-surface: #fbeeed;
  --material-theme-sys-light-inverse-primary: #ffb3b5;
  --material-theme-sys-light-shadow: #000000;
  --material-theme-sys-light-surface-tint: #af2b3e;
  --material-theme-sys-light-outline-variant: #d7c1c1;
  --material-theme-sys-light-scrim: #000000;
  --material-theme-sys-light-surface-container-highest: #ece0df;
  --material-theme-sys-light-surface-container-high: #f2e5e5;
  --material-theme-sys-light-surface-container: #f8ebea;
  --material-theme-sys-light-surface-container-low: #fef1f0;
  --material-theme-sys-light-surface-container-lowest: #ffffff;
  --material-theme-sys-light-surface-bright: #fff8f7;
  --material-theme-sys-light-surface-dim: #e4d7d7;
  --material-theme-sys-dark-primary: #ffb3b5;
  --material-theme-sys-dark-on-primary: #680018;
  --material-theme-sys-dark-primary-container: #8e0f28;
  --material-theme-sys-dark-on-primary-container: #ffdada;
  --material-theme-sys-dark-primary-fixed: #ffdada;
  --material-theme-sys-dark-on-primary-fixed: #40000b;
  --material-theme-sys-dark-primary-fixed-dim: #ffb3b5;
  --material-theme-sys-dark-on-primary-fixed-variant: #8e0f28;
  --material-theme-sys-dark-secondary: #e6bdbd;
  --material-theme-sys-dark-on-secondary: #44292a;
  --material-theme-sys-dark-secondary-container: #5d3f40;
  --material-theme-sys-dark-on-secondary-container: #ffdada;
  --material-theme-sys-dark-secondary-fixed: #ffdada;
  --material-theme-sys-dark-on-secondary-fixed: #2c1516;
  --material-theme-sys-dark-secondary-fixed-dim: #e6bdbd;
  --material-theme-sys-dark-on-secondary-fixed-variant: #5d3f40;
  --material-theme-sys-dark-tertiary: #e6c18d;
  --material-theme-sys-dark-on-tertiary: #432c05;
  --material-theme-sys-dark-tertiary-container: #5c421a;
  --material-theme-sys-dark-on-tertiary-container: #ffddb1;
  --material-theme-sys-dark-tertiary-fixed: #ffddb1;
  --material-theme-sys-dark-on-tertiary-fixed: #291800;
  --material-theme-sys-dark-tertiary-fixed-dim: #e6c18d;
  --material-theme-sys-dark-on-tertiary-fixed-variant: #5c421a;
  --material-theme-sys-dark-error: #ffb4ab;
  --material-theme-sys-dark-on-error: #690005;
  --material-theme-sys-dark-error-container: #93000a;
  --material-theme-sys-dark-on-error-container: #ffdad6;
  --material-theme-sys-dark-outline: #9f8c8c;
  --material-theme-sys-dark-background: #201a1a;
  --material-theme-sys-dark-on-background: #ece0df;
  --material-theme-sys-dark-surface: #181212;
  --material-theme-sys-dark-on-surface: #d0c4c3;
  --material-theme-sys-dark-surface-variant: #524343;
  --material-theme-sys-dark-on-surface-variant: #d7c1c1;
  --material-theme-sys-dark-inverse-surface: #ece0df;
  --material-theme-sys-dark-inverse-on-surface: #201a1a;
  --material-theme-sys-dark-inverse-primary: #af2b3e;
  --material-theme-sys-dark-shadow: #000000;
  --material-theme-sys-dark-surface-tint: #ffb3b5;
  --material-theme-sys-dark-outline-variant: #524343;
  --material-theme-sys-dark-scrim: #000000;
  --material-theme-sys-dark-surface-container-highest: #3a3333;
  --material-theme-sys-dark-surface-container-high: #2f2828;
  --material-theme-sys-dark-surface-container: #241e1e;
  --material-theme-sys-dark-surface-container-low: #201a1a;
  --material-theme-sys-dark-surface-container-lowest: #120d0d;
  --material-theme-sys-dark-surface-bright: #3f3737;
  --material-theme-sys-dark-surface-dim: #181212;
  --material-theme-ref-primary-primary-0: #000000;
  --material-theme-ref-primary-primary-10: #40000b;
  --material-theme-ref-primary-primary-20: #680018;
  --material-theme-ref-primary-primary-30: #8e0f28;
  --material-theme-ref-primary-primary-40: #af2b3e;
  --material-theme-ref-primary-primary-50: #d14554;
  --material-theme-ref-primary-primary-60: #f35e6c;
  --material-theme-ref-primary-primary-70: #ff888f;
  --material-theme-ref-primary-primary-80: #ffb3b5;
  --material-theme-ref-primary-primary-90: #ffdada;
  --material-theme-ref-primary-primary-95: #ffedec;
  --material-theme-ref-primary-primary-99: #fffbff;
  --material-theme-ref-primary-primary-100: #ffffff;
  --material-theme-ref-primary-primary-4: #270004;
  --material-theme-ref-primary-primary-5: #2c0006;
  --material-theme-ref-primary-primary-6: #310007;
  --material-theme-ref-primary-primary-12: #48000e;
  --material-theme-ref-primary-primary-17: #5c0014;
  --material-theme-ref-primary-primary-22: #70001b;
  --material-theme-ref-primary-primary-24: #78001d;
  --material-theme-ref-primary-primary-25: #7c001f;
  --material-theme-ref-primary-primary-35: #9f1e33;
  --material-theme-ref-primary-primary-87: #ffcecf;
  --material-theme-ref-primary-primary-92: #ffe1e1;
  --material-theme-ref-primary-primary-94: #ffe9e8;
  --material-theme-ref-primary-primary-96: #fff0f0;
  --material-theme-ref-primary-primary-98: #fff8f7;
  --material-theme-ref-secondary-secondary-0: #000000;
  --material-theme-ref-secondary-secondary-10: #2c1516;
  --material-theme-ref-secondary-secondary-20: #44292a;
  --material-theme-ref-secondary-secondary-30: #5d3f40;
  --material-theme-ref-secondary-secondary-40: #765657;
  --material-theme-ref-secondary-secondary-50: #916e6f;
  --material-theme-ref-secondary-secondary-60: #ad8888;
  --material-theme-ref-secondary-secondary-70: #c9a2a2;
  --material-theme-ref-secondary-secondary-80: #e6bdbd;
  --material-theme-ref-secondary-secondary-90: #ffdada;
  --material-theme-ref-secondary-secondary-95: #ffedec;
  --material-theme-ref-secondary-secondary-99: #fffbff;
  --material-theme-ref-secondary-secondary-100: #ffffff;
  --material-theme-ref-secondary-secondary-4: #1c0809;
  --material-theme-ref-secondary-secondary-5: #200a0c;
  --material-theme-ref-secondary-secondary-6: #230d0e;
  --material-theme-ref-secondary-secondary-12: #31191a;
  --material-theme-ref-secondary-secondary-17: #3d2324;
  --material-theme-ref-secondary-secondary-22: #492d2e;
  --material-theme-ref-secondary-secondary-24: #4e3233;
  --material-theme-ref-secondary-secondary-25: #503435;
  --material-theme-ref-secondary-secondary-35: #694a4b;
  --material-theme-ref-secondary-secondary-87: #fbd0d0;
  --material-theme-ref-secondary-secondary-92: #ffe1e1;
  --material-theme-ref-secondary-secondary-94: #ffe9e8;
  --material-theme-ref-secondary-secondary-96: #fff0f0;
  --material-theme-ref-secondary-secondary-98: #fff8f7;
  --material-theme-ref-tertiary-tertiary-0: #000000;
  --material-theme-ref-tertiary-tertiary-10: #291800;
  --material-theme-ref-tertiary-tertiary-20: #432c05;
  --material-theme-ref-tertiary-tertiary-30: #5c421a;
  --material-theme-ref-tertiary-tertiary-40: #76592f;
  --material-theme-ref-tertiary-tertiary-50: #917245;
  --material-theme-ref-tertiary-tertiary-60: #ac8b5c;
  --material-theme-ref-tertiary-tertiary-70: #c9a674;
  --material-theme-ref-tertiary-tertiary-80: #e6c18d;
  --material-theme-ref-tertiary-tertiary-90: #ffddb1;
  --material-theme-ref-tertiary-tertiary-95: #ffeedb;
  --material-theme-ref-tertiary-tertiary-99: #fffbff;
  --material-theme-ref-tertiary-tertiary-100: #ffffff;
  --material-theme-ref-tertiary-tertiary-4: #170c00;
  --material-theme-ref-tertiary-tertiary-5: #1b0e00;
  --material-theme-ref-tertiary-tertiary-6: #1e1100;
  --material-theme-ref-tertiary-tertiary-12: #2e1c00;
  --material-theme-ref-tertiary-tertiary-17: #3b2601;
  --material-theme-ref-tertiary-tertiary-22: #473009;
  --material-theme-ref-tertiary-tertiary-24: #4c350d;
  --material-theme-ref-tertiary-tertiary-25: #4f3710;
  --material-theme-ref-tertiary-tertiary-35: #694e24;
  --material-theme-ref-tertiary-tertiary-87: #fbd49f;
  --material-theme-ref-tertiary-tertiary-92: #ffe4c2;
  --material-theme-ref-tertiary-tertiary-94: #ffebd3;
  --material-theme-ref-tertiary-tertiary-96: #fff1e4;
  --material-theme-ref-tertiary-tertiary-98: #fff8f4;
  --material-theme-ref-error-error-0: #000000;
  --material-theme-ref-error-error-10: #410002;
  --material-theme-ref-error-error-20: #690005;
  --material-theme-ref-error-error-30: #93000a;
  --material-theme-ref-error-error-40: #ba1a1a;
  --material-theme-ref-error-error-50: #de3730;
  --material-theme-ref-error-error-60: #ff5449;
  --material-theme-ref-error-error-70: #ff897d;
  --material-theme-ref-error-error-80: #ffb4ab;
  --material-theme-ref-error-error-90: #ffdad6;
  --material-theme-ref-error-error-95: #ffedea;
  --material-theme-ref-error-error-99: #fffbff;
  --material-theme-ref-error-error-100: #ffffff;
  --material-theme-ref-error-error-4: #280001;
  --material-theme-ref-error-error-5: #2d0001;
  --material-theme-ref-error-error-6: #310001;
  --material-theme-ref-error-error-12: #490002;
  --material-theme-ref-error-error-17: #5c0004;
  --material-theme-ref-error-error-22: #710005;
  --material-theme-ref-error-error-24: #790006;
  --material-theme-ref-error-error-25: #7e0007;
  --material-theme-ref-error-error-35: #a80710;
  --material-theme-ref-error-error-87: #ffcfc9;
  --material-theme-ref-error-error-92: #ffe2de;
  --material-theme-ref-error-error-94: #ffe9e6;
  --material-theme-ref-error-error-96: #fff0ee;
  --material-theme-ref-error-error-98: #fff8f7;
  --material-theme-ref-neutral-neutral-0: #000000;
  --material-theme-ref-neutral-neutral-4: #120d0d;
  --material-theme-ref-neutral-neutral-6: #181212;
  --material-theme-ref-neutral-neutral-10: #201a1a;
  --material-theme-ref-neutral-neutral-12: #241e1e;
  --material-theme-ref-neutral-neutral-17: #2f2828;
  --material-theme-ref-neutral-neutral-20: #362f2f;
  --material-theme-ref-neutral-neutral-22: #3a3333;
  --material-theme-ref-neutral-neutral-24: #3f3737;
  --material-theme-ref-neutral-neutral-30: #4d4545;
  --material-theme-ref-neutral-neutral-40: #655c5c;
  --material-theme-ref-neutral-neutral-50: #7e7575;
  --material-theme-ref-neutral-neutral-60: #998e8e;
  --material-theme-ref-neutral-neutral-70: #b4a9a8;
  --material-theme-ref-neutral-neutral-80: #d0c4c3;
  --material-theme-ref-neutral-neutral-87: #e4d7d7;
  --material-theme-ref-neutral-neutral-90: #ece0df;
  --material-theme-ref-neutral-neutral-92: #f2e5e5;
  --material-theme-ref-neutral-neutral-94: #f8ebea;
  --material-theme-ref-neutral-neutral-95: #fbeeed;
  --material-theme-ref-neutral-neutral-96: #fef1f0;
  --material-theme-ref-neutral-neutral-99: #fffbff;
  --material-theme-ref-neutral-neutral-100: #ffffff;
  --material-theme-ref-neutral-neutral-5: #151010;
  --material-theme-ref-neutral-neutral-25: #413a3a;
  --material-theme-ref-neutral-neutral-35: #595050;
  --material-theme-ref-neutral-neutral-98: #fff8f7;
  --material-theme-ref-neutral-variant-neutral-variant-0: #000000;
  --material-theme-ref-neutral-variant-neutral-variant-10: #251819;
  --material-theme-ref-neutral-variant-neutral-variant-20: #3b2d2d;
  --material-theme-ref-neutral-variant-neutral-variant-30: #524343;
  --material-theme-ref-neutral-variant-neutral-variant-40: #6b5a5a;
  --material-theme-ref-neutral-variant-neutral-variant-50: #857373;
  --material-theme-ref-neutral-variant-neutral-variant-60: #9f8c8c;
  --material-theme-ref-neutral-variant-neutral-variant-70: #bba6a6;
  --material-theme-ref-neutral-variant-neutral-variant-80: #d7c1c1;
  --material-theme-ref-neutral-variant-neutral-variant-90: #f4dddd;
  --material-theme-ref-neutral-variant-neutral-variant-95: #ffedec;
  --material-theme-ref-neutral-variant-neutral-variant-99: #fffbff;
  --material-theme-ref-neutral-variant-neutral-variant-100: #ffffff;
  --material-theme-ref-neutral-variant-neutral-variant-4: #160b0c;
  --material-theme-ref-neutral-variant-neutral-variant-5: #190e0e;
  --material-theme-ref-neutral-variant-neutral-variant-6: #1c1011;
  --material-theme-ref-neutral-variant-neutral-variant-12: #291c1d;
  --material-theme-ref-neutral-variant-neutral-variant-17: #342727;
  --material-theme-ref-neutral-variant-neutral-variant-22: #3f3131;
  --material-theme-ref-neutral-variant-neutral-variant-24: #443636;
  --material-theme-ref-neutral-variant-neutral-variant-25: #463838;
  --material-theme-ref-neutral-variant-neutral-variant-35: #5f4f4f;
  --material-theme-ref-neutral-variant-neutral-variant-87: #ebd5d5;
  --material-theme-ref-neutral-variant-neutral-variant-92: #fae3e3;
  --material-theme-ref-neutral-variant-neutral-variant-94: #ffe9e8;
  --material-theme-ref-neutral-variant-neutral-variant-96: #fff0f0;
  --material-theme-ref-neutral-variant-neutral-variant-98: #fff8f7;
  --material-theme-key-colors-primary: #800020;
  --material-theme-source-seed: #800020;

  /* Fonts */
  --material-theme-display-large-font-family: Roboto-Regular, sans-serif;
  --material-theme-display-large-font-size: 57px;
  --material-theme-display-large-line-height: 64px;
  --material-theme-display-large-font-weight: 400;
  --material-theme-display-large-font-style: normal;
  --material-theme-display-medium-font-family: Roboto-Regular, sans-serif;
  --material-theme-display-medium-font-size: 45px;
  --material-theme-display-medium-line-height: 52px;
  --material-theme-display-medium-font-weight: 400;
  --material-theme-display-medium-font-style: normal;
  --material-theme-display-small-font-family: Roboto-Regular, sans-serif;
  --material-theme-display-small-font-size: 36px;
  --material-theme-display-small-line-height: 44px;
  --material-theme-display-small-font-weight: 400;
  --material-theme-display-small-font-style: normal;
  --material-theme-headline-large-font-family: Roboto-Regular, sans-serif;
  --material-theme-headline-large-font-size: 32px;
  --material-theme-headline-large-line-height: 40px;
  --material-theme-headline-large-font-weight: 400;
  --material-theme-headline-large-font-style: normal;
  --material-theme-headline-medium-font-family: Roboto-Regular, sans-serif;
  --material-theme-headline-medium-font-size: 28px;
  --material-theme-headline-medium-line-height: 36px;
  --material-theme-headline-medium-font-weight: 400;
  --material-theme-headline-medium-font-style: normal;
  --material-theme-headline-small-font-family: Roboto-Regular, sans-serif;
  --material-theme-headline-small-font-size: 24px;
  --material-theme-headline-small-line-height: 32px;
  --material-theme-headline-small-font-weight: 400;
  --material-theme-headline-small-font-style: normal;
  --material-theme-title-large-font-family: Roboto-Regular, sans-serif;
  --material-theme-title-large-font-size: 22px;
  --material-theme-title-large-line-height: 28px;
  --material-theme-title-large-font-weight: 400;
  --material-theme-title-large-font-style: normal;
  --material-theme-title-medium-font-family: Roboto-Medium, sans-serif;
  --material-theme-title-medium-font-size: 16px;
  --material-theme-title-medium-line-height: 24px;
  --material-theme-title-medium-font-weight: 500;
  --material-theme-title-medium-font-style: normal;
  --material-theme-title-small-font-family: Roboto-Medium, sans-serif;
  --material-theme-title-small-font-size: 14px;
  --material-theme-title-small-line-height: 20px;
  --material-theme-title-small-font-weight: 500;
  --material-theme-title-small-font-style: normal;
  --material-theme-body-large-font-family: Roboto-Regular, sans-serif;
  --material-theme-body-large-font-size: 16px;
  --material-theme-body-large-line-height: 24px;
  --material-theme-body-large-font-weight: 400;
  --material-theme-body-large-font-style: normal;
  --material-theme-body-medium-font-family: Roboto-Regular, sans-serif;
  --material-theme-body-medium-font-size: 14px;
  --material-theme-body-medium-line-height: 20px;
  --material-theme-body-medium-font-weight: 400;
  --material-theme-body-medium-font-style: normal;
  --material-theme-body-small-font-family: Roboto-Regular, sans-serif;
  --material-theme-body-small-font-size: 12px;
  --material-theme-body-small-line-height: 16px;
  --material-theme-body-small-font-weight: 400;
  --material-theme-body-small-font-style: normal;
  --material-theme-label-large-font-family: Roboto-Medium, sans-serif;
  --material-theme-label-large-font-size: 14px;
  --material-theme-label-large-line-height: 20px;
  --material-theme-label-large-font-weight: 500;
  --material-theme-label-large-font-style: normal;
  --material-theme-label-medium-font-family: Roboto-Medium, sans-serif;
  --material-theme-label-medium-font-size: 12px;
  --material-theme-label-medium-line-height: 16px;
  --material-theme-label-medium-font-weight: 500;
  --material-theme-label-medium-font-style: normal;
  --material-theme-label-small-font-family: Roboto-Medium, sans-serif;
  --material-theme-label-small-font-size: 11px;
  --material-theme-label-small-line-height: 16px;
  --material-theme-label-small-font-weight: 500;
  --material-theme-label-small-font-style: normal;

  /* Effects */
}
