<link rel="stylesheet" href="../static/css/style_catalogue.css" />
{% extends "base.html" %}
{% block title %} NTUAflix - Catalogue {% endblock %}
{% block content %}
<div class="catalogue">
  <div class="catalogue-container">
    <div class="movies-section-restricted">
      <div class="movies-section">Recommended</div>

      <div class="movies-section2">
        <a href="/MovieProfile" class="movie-thumbnail">
          <div class="thumbnail">
            <img class="thumbnail2" src="../static/images/thumbnail1.png" />
          </div>
          <div class="movie-or-tv-series-title-goes-here">
            Movie or TV Series title goes here
          </div>
        </a>
        
        <div class="movie-thumbnail">
          <div class="thumbnail">
            <img class="thumbnail2" src="../static/images/thumbnail1.png" />
          </div>
          <div class="movie-or-tv-series-title-goes-here">
            Movie or TV Series title goes here
          </div>
        </div>
        <div class="movie-thumbnail">
          <div class="thumbnail">
            <img class="thumbnail2" src="../static/images/thumbnail1.png" />
          </div>
          <div class="movie-or-tv-series-title-goes-here">
            Movie or TV Series title goes here
          </div>
        </div>
        <div class="movie-thumbnail">
          <div class="thumbnail">
            <img class="thumbnail2" src="../static/images/thumbnail1.png" />
          </div>
          <div class="movie-or-tv-series-title-goes-here">
            Movie or TV Series title goes here
          </div>
        </div>
        <div class="movie-thumbnail">
          <div class="thumbnail">
            <img class="thumbnail2" src="../static/images/thumbnail1.png" />
          </div>
          <div class="movie-or-tv-series-title-goes-here">
            Movie or TV Series title goes here
          </div>
        </div>
        <div class="movie-thumbnail">
          <div class="thumbnail">
            <img class="thumbnail2" src="../static/images/thumbnail1.png" />
          </div>
          <div class="movie-or-tv-series-title-goes-here">
            Movie or TV Series title goes here
          </div>
        </div>
        <div class="movie-thumbnail">
          <div class="thumbnail">
            <img class="thumbnail2" src="../static/images/thumbnail1.png" />
          </div>
          <div class="movie-or-tv-series-title-goes-here">
            Movie or TV Series title goes here
          </div>
        </div>
        <div class="movie-thumbnail">
          <div class="thumbnail">
            <img class="thumbnail2" src="../static/images/thumbnail1.png" />
          </div>
          <div class="movie-or-tv-series-title-goes-here">
            Movie or TV Series title goes here
          </div>
        </div>
        <div class="movie-thumbnail">
          <div class="thumbnail">
            <img class="thumbnail2" src="../static/images/thumbnail1.png" />
          </div>
          <div class="movie-or-tv-series-title-goes-here">
            Movie or TV Series title goes here
          </div>
        </div>
        <div class="movie-thumbnail">
          <div class="thumbnail">
            <img class="thumbnail2" src="../static/images/thumbnail1.png" />
          </div>
          <div class="movie-or-tv-series-title-goes-here">
            Movie or TV Series title goes here
          </div>
        </div>
        <div class="movie-thumbnail">
          <div class="thumbnail">
            <img class="thumbnail2" src="../static/images/thumbnail1.png" />
          </div>
          <div class="movie-or-tv-series-title-goes-here">
            Movie or TV Series title goes here
          </div>
        </div>
        <div class="movie-thumbnail">
          <div class="thumbnail">
            <img class="thumbnail2" src="../static/images/thumbnail1.png" />
          </div>
          <div class="movie-or-tv-series-title-goes-here">
            Movie or TV Series title goes here
          </div>
        </div>
        <div class="movie-thumbnail">
          <div class="thumbnail">
            <img class="thumbnail2" src="../static/images/thumbnail1.png" />
          </div>
          <div class="movie-or-tv-series-title-goes-here">
            Movie or TV Series title goes here
          </div>
        </div>
        <div class="movie-thumbnail">
          <div class="thumbnail">
            <img class="thumbnail2" src="../static/images/thumbnail1.png" />
          </div>
          <div class="movie-or-tv-series-title-goes-here">
            Movie or TV Series title goes here
          </div>
        </div>
        <div class="movie-thumbnail">
          <div class="thumbnail">
            <img class="thumbnail2" src="../static/images/thumbnail1.png" />
          </div>
          <div class="movie-or-tv-series-title-goes-here">
            Movie or TV Series title goes here
          </div>
        </div>
        <div class="movie-thumbnail">
          <div class="thumbnail">
            <img class="thumbnail2" src="../static/images/thumbnail1.png" />
          </div>
          <div class="movie-or-tv-series-title-goes-here">
            Movie or TV Series title goes here
          </div>
        </div>
        <div class="movie-thumbnail">
          <div class="thumbnail">
            <img class="thumbnail2" src="../static/images/thumbnail1.png" />
          </div>
          <div class="movie-or-tv-series-title-goes-here">
            Movie or TV Series title goes here
          </div>
        </div>
        <div class="movie-thumbnail">
          <div class="thumbnail">
            <img class="thumbnail2" src="../static/images/thumbnail1.png" />
          </div>
          <div class="movie-or-tv-series-title-goes-here">
            Movie or TV Series title goes here
          </div>
        </div>
      </div>
    </div>
    <div class="movies-section-restricted">
      <div class="movies-section">Top Rated</div>
      <div class="movies-section2">
        {% for movie in top_rated %}
        <a href="/MovieProfile/{{movie['id']}}">
          <div class="movie-thumbnail">
            <div class="thumbnail">
              <img class="thumbnail2" src={{movie['thumbnail']}} onerror="this.onerror=null; this.src='../static/images/no-image-found.png';"/>
            </div>
            <div class="movie-or-tv-series-title-goes-here">
              {% if movie['title'] == 'Null': %}
                No title
              {% else %}
                {{movie['title']}}
              {% endif %}
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}