<link rel="stylesheet" href="../static/css/style_movieprofile.css" />
{% extends "base.html" %}
{% block title %} NTUAflix - Login {% endblock %}
{% block content %}
<div class="movie-profile">
  <div class="movie-profile-container">
    <div class="movie-header">
      <div class="shrek">Shrek</div>
      <svg
        class="group-1"
        width="57"
        height="24"
        viewBox="0 0 57 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <mask
          id="mask0_252_884"
          style="mask-type: alpha"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="24"
          height="24"
        >
          <rect width="24" height="24" fill="#D9D9D9" />
        </mask>
        <g mask="url(#mask0_252_884)">
          <path
            d="M18 21H7V8L14 1L15.25 2.25C15.3667 2.36667 15.4625 2.525 15.5375 2.725C15.6125 2.925 15.65 3.11667 15.65 3.3V3.65L14.55 8H21C21.5333 8 22 8.2 22.4 8.6C22.8 9 23 9.46667 23 10V12C23 12.1167 22.9833 12.2417 22.95 12.375C22.9167 12.5083 22.8833 12.6333 22.85 12.75L19.85 19.8C19.7 20.1333 19.45 20.4167 19.1 20.65C18.75 20.8833 18.3833 21 18 21ZM9 19H18L21 12V10H12L13.35 4.5L9 8.85V19ZM7 8V10H4V19H7V21H2V8H7Z"
            fill="#AF2B3E"
          />
        </g>
        <mask
          id="mask1_252_884"
          style="mask-type: alpha"
          maskUnits="userSpaceOnUse"
          x="33"
          y="0"
          width="24"
          height="24"
        >
          <rect x="33" width="24" height="24" fill="#D9D9D9" />
        </mask>
        <g mask="url(#mask1_252_884)">
          <path
            d="M39 3H50V16L43 23L41.75 21.75C41.6333 21.6333 41.5375 21.475 41.4625 21.275C41.3875 21.075 41.35 20.8833 41.35 20.7V20.35L42.45 16H36C35.4667 16 35 15.8 34.6 15.4C34.2 15 34 14.5333 34 14V12C34 11.8833 34.0167 11.7583 34.05 11.625C34.0833 11.4917 34.1167 11.3667 34.15 11.25L37.15 4.2C37.3 3.86667 37.55 3.58333 37.9 3.35C38.25 3.11667 38.6167 3 39 3ZM48 5H39L36 12V14H45L43.65 19.5L48 15.15V5ZM50 16V14H53V5H50V3H55V16H50Z"
            fill="#AF2B3E"
          />
        </g>
      </svg>
      <div class="_7-9-10">7.9/10</div>
    </div>
    <div class="movie-header-info">
      <div class="start-year">startYear</div>
      <div class="runtime-minuets">runtimeMinuets</div>
      <div class="genres">genres</div>
    </div>
    <div class="thumbnail-large">
      <img class="shrek-1" src="../static/images/thumbnail1.png" />
    </div>
    <div class="movie-desctription">
      Movie description movie description movie description movie description
      movie description movie description movie description movie description
      movie description movie description movie description movie description
      movie description movie description movie description movie description
      movie description movie description movie description movie description
      movie description movie description movie description movie description
      movie description movie description
    </div>
    <div class="movie-info">
      <div class="directors">Directors:</div>
      <div class="actors">Actors</div>
    </div>
  </div>
</div>
{% endblock %}
