<link rel="stylesheet" href="../static/css/style_movieprofile.css" />
{% extends "base.html" %}
{% block title %} NTUAflix - {{movie['originalTitle'] if movie and movie['originalTitle']!='Null' else 'No title'}} {% endblock %}
{% block content %}
<div class="movie-profile">
  <div class="movie-profile-container">
    <div class="movie-header">
      <div class="title">{{movie['originalTitle'] if movie and movie['originalTitle']!='Null' else 'No title'}}</div>
      <span style="display:flex; gap:10px;">
        <button class="material-symbols-outlined" id="likeButton"
          {% if liked %}
            style="font-variation-settings: 'FILL' 1"
          {% endif %}
          >thumb_up</button>
        <button class="material-symbols-outlined" id="dislikeButton"
          {% if disliked %}
            style="font-variation-settings: 'FILL' 1"
          {% endif %}
          >thumb_down</button>
      </span>
      <div class="rating">{{ movie['rating'][0]['avRating'] if movie and movie['rating']!='None' else '??' }}/10</div>
    </div>
    <div class="movie-header-info">
      <div class="text">
        {{ movie['startYear'] if movie and movie['startYear']!='Null' else Null}}
        {{ " - "+movie['endYear'] if movie and movie['endYear']!='Null' else Null }}
      </div>
      <div class="text">
        {% if movie['genres'] %}
          {% for genre in movie['genres'] %}
            {% if genre != movie['genres'][-1] %}
              {{ genre }},
            {% else %}
              {{ genre }}
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="row-container">
      <div class="thumbnail-large">
        <img class="thumbnail-img" src={{movie['titlePoster'] if movie else none}} onerror="this.onerror=null; this.src='../static/images/no-image-found.png';"/>
      </div>
      <div class="movie-info">
        {% if movie['principals'] %}
          {% for principal in movie['principals'] %}
            {% if movie['principals'][principal] %}
              <div class="text-bold"><br>{{principal}}</div>
              <div class="text">
                {% for name in movie['principals'][principal] %}
                  {{name}}<br>
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script>
  var html_liked='{{ liked }}';
  var html_disliked='{{ disliked }}';
  var titleID = '{{ movie["titleID"] }}';
  var userToken = "session['user_token']";
</script>
<script src="{{ url_for('static', filename='js/like_dislike.js') }}"></script>
{% endblock %}
