<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/css/vars.css" />
    <link rel="stylesheet" href="../static/css/style_welcome.css" />

    <style> a,button,input,select,h1,h2,h3,h4,h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        color:white;
        appearance: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }
    </style>

    <title>Welcome to NTUAflix</title>
  </head>
  <body class="welcome">
    <div class="welcome-to-ntuaflix">
      <div class="wel-to-ntflx-text">
        <div
          class="welcome-to-ntua-flix-enjoy-a-personalized-movie-experience-login-now-to-make-the-most-out-of-your-visit"
        >
          <span>
            <span
              class="welcome-to-ntua-flix-enjoy-a-personalized-movie-experience-login-now-to-make-the-most-out-of-your-visit-span"
            >
              Welcome to
            </span>
            <span
              class="welcome-to-ntua-flix-enjoy-a-personalized-movie-experience-login-now-to-make-the-most-out-of-your-visit-span2"
            >
              N
            </span>
            <span
              class="welcome-to-ntua-flix-enjoy-a-personalized-movie-experience-login-now-to-make-the-most-out-of-your-visit-span3"
            >
              t
            </span>
            <span
              class="welcome-to-ntua-flix-enjoy-a-personalized-movie-experience-login-now-to-make-the-most-out-of-your-visit-span4"
            >
              u
            </span>
            <span
              class="welcome-to-ntua-flix-enjoy-a-personalized-movie-experience-login-now-to-make-the-most-out-of-your-visit-span5"
            >
              a
            </span>
            <span
              class="welcome-to-ntua-flix-enjoy-a-personalized-movie-experience-login-now-to-make-the-most-out-of-your-visit-span6"
            >
              F
            </span>
            <span
              class="welcome-to-ntua-flix-enjoy-a-personalized-movie-experience-login-now-to-make-the-most-out-of-your-visit-span7"
            >
              l
            </span>
            <span
              class="welcome-to-ntua-flix-enjoy-a-personalized-movie-experience-login-now-to-make-the-most-out-of-your-visit-span8"
            >
              i
            </span>
            <span
              class="welcome-to-ntua-flix-enjoy-a-personalized-movie-experience-login-now-to-make-the-most-out-of-your-visit-span9"
            >
              x
            </span>
            <span
              class="welcome-to-ntua-flix-enjoy-a-personalized-movie-experience-login-now-to-make-the-most-out-of-your-visit-span10"
            >
              !
              <br />
            </span>
            <span
              class="welcome-to-ntua-flix-enjoy-a-personalized-movie-experience-login-now-to-make-the-most-out-of-your-visit-span11"
            >
              <br />
              Enjoy a personalized movie experience!
              <br />
              <br />
              Login now to make the most out of your visit!
            </span>
          </span>
        </div>
      </div>
    </div>
    <a href="/Login">
      <button class="login2">
        <div class="state-layer3">
          <div class="label-text2">Log in</div>
        </div>
      </button>
    </a>
  </body>
</html>
